body {
    background-color: rgb(0 0 0 / 90%) !important;

}
.headerSection{
    height: 800px;
    position: relative;
    overflow: hidden;
}
.bottomCircle{
position: absolute;
width: 200%;
height: 100%;
bottom: -730px;
left: 50%;
transform: translateX(-50%);
background: linear-gradient(to bottom, red 0%, purple 7%);
z-index: 20;
border-radius: 50%;
}

.bottomCircle::before{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 5px;
    left: 0;
    z-index: -1;
    content: '';
    background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%),black;
    border-radius:50%;
}

.logo img{
    width: 150px;
    height: 100px;
}

.homeSubscription {
    color: white;
    position: absolute;
    bottom:200px;
    left: 20px;
    z-index: 5;
    width: 50%;
    
}
.homeSubscription h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600 ;
    font-size: 56px;
}
.homeSubscription span {
    font-family: 'Poppins', sans-serif;
}
.homeSubscription span:nth-child(2) {
    font-weight: 600;
}
.homeSubscription span:nth-child(3){
    color: rgba(255, 255, 255, 0.7);
}
.homeSubscription form input{
    border: none;
}
.homeSubscription form input:focus {
    outline: none;
}
.collapseRow {
    background-color: gray;
    transition: 0.3s;
    
}
.collapseRow:hover{
    background-color: rgb(171, 170, 170) !important;
}
.landPageLink{
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
}

@media (max-width:768px){
.homeSubscription h1 {
        font-size: 30px;
    }
    .collapseRow p{
        font-size: 15px;
    }
    .bottomCircle{
        width: 250%;
        bottom: -750px;
    }
}