.slider{
    color: white;
    overflow: visible !important;
    position: relative;
}
.slider-button{
    background-color: #0000005e !important;
    transition: 0.3s;
    cursor: pointer !important;
    position: absolute;
    height: 100%;
    width: 90px;
    z-index: 200;
}
.next{
    right: 0px;
}
.left{
    left: 0;
}
.slider-button {
    background-color: #0000005e !important;
    transition: 0.3s;
    cursor: pointer !important;
    position: absolute;
    height: 50%;
    right: 0px;
    width: 100px;
    top: 50%;
    transform: translateY(-50%);
    
}


.slider-button:hover {
    background-color: #000000b3 !important;
}
.MoviesContainer{
    top: -170px;
}


.loadMore{
    height: 400px;
}
.ToHoverTheBox{
    position: relative;
    transform: rotate(10deg);
}
.overview{
    font-size: 13px;
    font-weight: 400;
    color: white;
    font-family: 'Poppins', sans-serif;
    height: 80px;
    overflow: auto;
}
.overview::-webkit-scrollbar{
    width: 10px;
}
.overview::-webkit-scrollbar-thumb{
    background-color: red;
    border-radius: 10px;
}
.overview::-webkit-scrollbar-track{
    background-color: black;
    box-shadow: inset 0 0 5px grey;
}
.MovieBoxTitle{
    font-size: 20px;
    font-weight: 600;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.BoxHover {
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.3s;
    background-color: #131311;
    z-index: -1000;
}
.BoxHover .ImgInHoverBox{
    height: 180px;
}


.MovieCon{
    height: 420px;
}
.modalCon{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 900px;
    z-index: 20002;
    background-color: #0000005e;
   
}
.ModalImg{
    height: 350px;
    position: relative;
    overflow: hidden;
}
.ModalImgShadow{
    position: absolute;
    width: 150%;
    height: 100%;
    top: 130%;
    transform: translate(-50%,-50%);
    left: 50%;
    border-radius: 50%;
    border-top: 2px solid  springgreen;
    box-shadow: 10px 0 20px 10px springgreen inset;
    background-color: #0000006b;
}
.MovieBoxCon{
    position: relative;
    top: 0;
}
.ModalTitle{
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.MovieInfoModal{
    background-color: #131313;
    color: white;
}
.MovieInfoModal p{
    color: white;
    font-family: 'Poppins', sans-serif;
}
.rate{
    color: springgreen;
}

.adult{
    border: 1px solid gray;
}
.modalVideoCon{
    height: 250px;
    position: relative;
}

.VideoModalControlVolume{
    border: 1px solid white;
    height: fit-content;
    border-radius: 50%;
    font-size: 20px;
    position: absolute;
    right: 10px ;
    bottom: 30px;
    cursor: pointer;
}
.barVolumeControl{
    position: absolute;
    height: fit-content;
    top: -13px;
    left: 45%;
    transform: translateX(-50%) rotate(-35deg);
    font-size: 35px;
}
.ToPage{
    color: white;
    text-decoration: none;
    font-family: 'Poppins';
    transition: 0.3s;
}
.ToPage:hover{
    color: #E50914;
}
.similar{
    position: relative;
    height: 800px;
    overflow: auto;
}
.similarTitle{
    font-weight: 600;
    color: white;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 5px;
    position: fixed;
    top: 0;
}

.similarImgBox{
    height: 200px;
    position: relative;
}
.similarImgBoxShadow{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
background-color:rgba(0, 0, 0, 0.482);
width: 0;
height: 0;
}